-i https://pypi.org/simple
greenlet==1.1.3.post0 ; python_version >= '3' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
pydantic==1.10.2 ; python_version >= '3.7'
pyqt5==5.15.7
pyqt5-qt5==5.15.2
pyqt5-sip==12.11.0 ; python_version >= '3.7'
sqlalchemy==1.4.41 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
sqlalchemy2-stubs==0.0.2a29 ; python_version >= '3.6'
sqlmodel==0.0.8
typing-extensions==4.4.0 ; python_version >= '3.7'
